.benefits {
  padding: 80px 0 140px;
  background: #F7F7F7;
  &__title {
    text-align: center;
    font-size: 45px;
    color: #1B1B1B;
    margin-bottom: 110px;
  }
  &__row {
    display: flex;
    flex-wrap: wrap;
    column-gap: 120px;
    row-gap: 70px;
  }
  &__card {
    width: calc((100% / 3) - 80px);
    &_title {
      font-size: 20px;
      color: #1B1B1B;
      margin: 25px 0 20px;
    }
    &_subtitle {
      font-size: 18px;
      color: #6C6C6C;
      margin-bottom: 20px;
    }
  }
}