.partnersClients {
  padding: 0 0 189px;
  max-width: 1050px;
  margin: 0 auto;

  &__row {
    position: relative;
    padding: 0 25px;
    .swiper {
      position: static;

      & .swiper-button-prev {
        width: 38px;
        height: 38px;
        background: #D6D6D6;
        border-radius: 50%;
        left: auto;
        right: 61px;
        bottom: auto;
        top: -20px;
        transform: translate(0, -100%);

        &::after {
          color: #1B1B1B;
          font-size: 16px;
        }
      }

      & .swiper-button-next {
        width: 38px;
        height: 38px;
        background: #D6D6D6;
        border-radius: 50%;
        left: auto;
        right: 0;
        bottom: auto;
        top: -20px;
        transform: translate(0, -100%);

        &::after {
          color: #1B1B1B;
          font-size: 16px;
        }
      }
    }
  }

  &__nav {
    padding: 89px 0 0;
    max-width: 1050px;
    margin: 0 auto 35px;
    display: flex;
    column-gap: 43px;

    & .orange {
      padding-bottom: 9px;
      border-bottom: 5px solid #F18200;
      color: #F18200;
    }
    .yakor {
      &:active {
        color: #F18200;
      }
    }
  }

  &__link {
    cursor: pointer;
    color: #1B1B1B;
    font-size: 18px;
  }

  &__title {
    font-size: 45px;
    color: #1B1B1B;
    margin-bottom: 42px;

    & .orange {
      color: #F18200;
    }
  }

  &__subtitle {
    font-size: 18px;
    color: #332C2C;
    margin-bottom: 112px;
  }

  &__img {
    height: 57px;
    max-width: 231px;

    & img {
      height: 100%;
      width: 100%;
    }
  }

  &__testimonials {
    background: #F7F7F7;
  }
}