.header {
  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 25px 7px;
    background: #252525;

    &_left {
      display: flex;
      align-items: center;
      column-gap: 14.4px;

      &-icon {
        width: 18px;
        height: 18px;
        color: white;
      }

      &-title {
        font-size: 13px;
        font-family: "GT Walsheim Pro", sans-serif;
        color: white;
      }
    }

    &_right {
      display: flex;
      align-items: center;
      column-gap: 15px;

      &-icon {
        width: 15.4px;
        height: 15.4px;
        color: white;
      }

      &-numbers {
        display: flex;
        align-items: center;
        column-gap: 10px;
      }

      &-number {
        font-size: 13px;
        font-family: "GT Walsheim Pro", sans-serif;
        color: white;
        transition: 0.3s;

        &:hover {
          color: #F6803D;
          transition: 0.3s;
        }
      }

      &-num {
        font-size: 13px;
        font-family: "GT Walsheim Pro", sans-serif;
        color: white;
        transition: 0.3s;

        &:hover {
          color: #F6803D;
          transition: 0.3s;
        }
      }
    }
  }

  .dark {
    background: #252525 !important;
    position: static !important;
  }

  &__row {
    width: 100%;
    position: absolute;
    z-index: 3;
    padding: 0 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: transparent;
    border-bottom: 1px solid white;
  }

  &__logo {
    margin: 13px 0 7.5px;
    width: 196px;
    height: 58px;
  }

  &__layout {
    display: none;
    background: #000;
    opacity: 0.3;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: -30.2px;
    left: 0;
  }

  &__menu {
    display: flex;
    align-items: center;
    column-gap: 50px;

    &_open {
      animation: headerOpen 0.3s linear;
      overflow: hidden;
      display: flex !important;
    }

    &_close {
      animation: headerClose 0.3s linear;
      overflow: hidden;
    }

    &_home {
      .dropdown {
        margin: 17px 0 0 5px;
        width: 354px;
        border-radius: 10px;
        z-index: 2;
        display: none;
        flex-direction: column;
        position: absolute;
        background: transparent;

        &-bg {
          z-index: -100;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          filter: blur(2px);
          -webkit-filter: blur(2px);
          background: #707070;
          opacity: 0.9;
        }

        &__link {
          font-size: 16px;
          color: white;
          padding: 16px 35px 19px 20px;
          transition: 0.3s;

          &:hover {
            background: #00000010;
            color: #F6803D;
            transition: 0.3s;
          }
        }
      }

      &:hover .dropdown {
        display: flex;
      }

      &:hover .item__menu_link {
        color: #F6803D;
        transition: 0.1s;
      }
    }

    &_company {
      .dropdown {
        margin: 17px 0 0 5px;
        width: 354px;
        border-radius: 10px;
        z-index: 2;
        display: none;
        flex-direction: column;
        position: absolute;
        background: transparent;

        &-bg {
          z-index: -100;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          filter: blur(2px);
          -webkit-filter: blur(2px);
          background: #707070;
          opacity: 0.9;
        }

        &__link {
          font-size: 16px;
          color: white;
          padding: 16px 35px 19px 20px;
          transition: 0.3s;

          &:hover {
            background: #00000010;
            color: #F6803D;
            transition: 0.3s;
          }
        }
      }

      &:hover .dropdown {
        display: flex;
      }

      &:hover .item__menu_link {
        color: #F6803D;
        transition: 0.1s;
      }
    }

    &_services {
      .dropdown {
        margin: 17px 0 0 5px;
        width: 354px;
        border-radius: 10px;
        z-index: 2;
        display: none;
        flex-direction: column;
        position: absolute;
        background: transparent;

        &-bg {
          z-index: -100;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          filter: blur(2px);
          -webkit-filter: blur(2px);
          background: #707070;
          opacity: 0.9;
        }

        &__link {
          font-size: 16px;
          color: white;
          padding: 16px 35px 19px 20px;
          transition: 0.3s;

          &:hover {
            background: #00000010;
            color: #F6803D;
            transition: 0.3s;
          }
        }
      }

      &:hover .dropdown {
        display: flex;
      }

      &:hover .item__menu_link {
        color: #F6803D;
        transition: 0.1s;
      }
    }

    &_clients {
      .dropdown {
        margin: 17px 0 0 5px;
        width: 354px;
        border-radius: 10px;
        z-index: 2;
        display: none;
        flex-direction: column;
        position: absolute;
        background: transparent;

        &-bg {
          z-index: -100;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          filter: blur(2px);
          -webkit-filter: blur(2px);
          background: #707070;
          opacity: 0.9;
        }

        &__link {
          font-size: 16px;
          color: white;
          padding: 16px 35px 19px 20px;
          transition: 0.3s;

          &:hover {
            background: #00000010;
            color: #F6803D;
            transition: 0.3s;
          }
        }
      }

      &:hover .dropdown {
        display: flex;
      }

      &:hover .item__menu_link {
        color: #F6803D;
        transition: 0.1s;
      }
    }

    &_blogs {
      .dropdown {
        margin: 17px 0 0 5px;
        width: 354px;
        border-radius: 10px;
        z-index: 2;
        display: none;
        flex-direction: column;
        position: absolute;
        background: transparent;

        &-bg {
          z-index: -100;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          filter: blur(2px);
          -webkit-filter: blur(2px);
          background: #707070;
          opacity: 0.9;
        }

        &__link {
          font-size: 16px;
          color: white;
          padding: 16px 35px 19px 20px;
          transition: 0.3s;

          &:hover {
            background: #00000010;
            color: #F6803D;
            transition: 0.3s;
          }
        }
      }

      &:hover .dropdown {
        display: flex;
      }

      &:hover .item__menu_link {
        color: #F6803D;
        transition: 0.1s;
      }
    }

    &_contact {
      .dropdown {
        margin: 17px 0 0 5px;
        width: 354px;
        border-radius: 10px;
        z-index: 2;
        display: none;
        flex-direction: column;
        position: absolute;
        background: transparent;

        &-bg {
          z-index: -100;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          filter: blur(2px);
          -webkit-filter: blur(2px);
          background: #707070;
          opacity: 0.9;
        }

        &__link {
          font-size: 16px;
          color: white;
          padding: 16px 35px 19px 20px;
          transition: 0.3s;

          &:hover {
            background: #00000010;
            color: #F6803D;
            transition: 0.3s;
          }
        }
      }

      &:hover .dropdown {
        display: flex;
      }

      &:hover .item__menu_link {
        color: #F6803D;
        transition: 0.1s;
      }
    }


    &_link {
      font-family: "GT Walsheim Pro", sans-serif;
      font-size: 18px;
      color: white;
      cursor: pointer;
      transition: 0.1s;
      padding: 23px 0;
      border-bottom: 5px solid transparent;

      &:hover {
        color: #F6803D;
        transition: 0.1s;
      }
    }

    .active {
      color: #F6803D;
    }
  }

  &__right {
    display: flex;
    align-items: center;

    &_btn {
      display: flex;
      align-items: center;
      column-gap: 10px;
      cursor: pointer;
      height: 79.5px;

      &:hover .header__right_btn-icon {
        color: #F6803D;
        transition: 0.3s;
      }

      &:hover .header__right_btn-title {
        color: #F6803D;
        transition: 0.3s;
      }

      &-icon {
        width: 20px;
        height: 20px;
        color: white;
        transition: 0.3s;
      }

      &-title {
        position: relative;
        font-family: "GT Walsheim Pro", sans-serif;
        font-size: 18px;
        color: white;
        transition: 0.3s;
      }
    }

    &_menu {
      cursor: pointer;
      padding-left: 21.5px;
      display: none;

      &-icon {
        font-size: 20px;
        color: white;
        transition: 0.3s;

        &:hover {
          color: #F6803D;
          transition: 0.3s;
        }
      }
    }
  }
}

.header__menu_item > .active {
  border-bottom: 5px solid #F18200;
}

@keyframes headerOpen {
  0% {
    width: 0;
  }
  100% {
    width: 50%;
  }
}

@keyframes headerClose {
  0% {
    width: 50%;
  }
  100% {
    width: 0;
  }
}

@media (max-width: 1200px) {
  .header {

    &__logo {
      width: 160px;
      height: auto;
    }

    &__menu {
      column-gap: 30px;

      &_link {
        font-size: 17px;
        padding: 17px 0;
      }
    }

    &__right {
      &_btn {
        &-title {
          font-size: 17px;
        }
      }

      &_menu {
        &-icon {
          font-size: 19px;
        }
      }
    }
  }
}

@media (max-width: 996px) {
  .header {
    &__row {
      padding: 0 15px;
    }

    &__top {
      padding: 8px 15px 7px;

      &_left {
        column-gap: 10px;

        &-icon {
          width: 15px;
          height: 15px;
        }

        &-title {
          font-size: 12px;
        }
      }

      &_right {
        column-gap: 10px;

        &-icon {
          width: 12px;
          height: 12px;
        }

        &-number {
          font-size: 12px;
        }
      }
    }

    &__logo {
      width: 100px;
    }

    &__menu {
      column-gap: 20px;

      &_link {
        font-size: 15px;
        padding: 0 0 10px;
      }
    }

    &__right {
      &_btn {
        column-gap: 5px;

        &-icon {
          width: 15px;
          height: 15px;
        }

        &-title {
          font-size: 16px;
        }
      }

      &_menu {
        padding: 0 0 0 15px;
      }
    }
  }
}

@media (max-width: 768px) {
  .header {
    position: relative;

    &__layout {
      display: block;
    }

    &__menu {
      display: none;
      z-index: 5;
      position: absolute;
      flex-direction: column;
      align-items: flex-start;
      top: -30.2px;
      right: 0;
      background: black;
      height: 100vh;
      width: 50%;
    }

    &__row {
      padding: 10px 15px;
    }

    &__right {
      &_btn {
        height: auto;
        padding: 0 15px 0 0;
        border-right: 1px solid white;
      }

      &_menu {
        display: block;
      }
    }

    &__logo {
      width: 130px;
      margin: 0;
    }
  }
}

@media (max-width: 576px) {
  .header {
    &__row {
      padding: 5px 15px;
    }
  }
}

@media (max-width: 425px) {
  .header {
    &__logo {
      width: 110px;
    }
  }
}