.servicesHome {
  position: relative;
  &__title {
    text-align: center;
    padding: 175px 0;
    font-size: 65px;
    color: white;
  }
  &__image {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -5;
    &::before {
      position: absolute;
      content: '';
      width: 100%;
      height: 100%;
      background: #00000085;
      z-index: 5;
    }
    & img{
      width: 100%;
      height: 100%;
    }
  }
}