@import "assets/fonts/stylesheet.css";

* {
   scroll-behavior: smooth;
   list-style-type: none;
}

a {
   text-decoration: none;
}

.swiperStatic {
   position: static !important;
}

.swiperCustomNavigation .swiper-button-next, .swiperCustomNavigation .swiper-button-prev {
   display: none;
}

.justify-text {
   text-align: justify;
}